.project_main_container,
.projects_container {
  width: 100vw;
  height: auto;
}

.project_transition_box {
  width: 100vw;
  height: 30.735rem;
  background-image: url("../../Assets/Projects_bg.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.project_transition_box h1 {
  padding: 0 2rem;
}

.project_title {
  width: 100vw;
  height:5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 7.5rem;
  position: fixed;
}

.projects_container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.projects_left,
.projects_right {
  width: 30vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.projects_left {
  border-right: #707070 1px solid;
}

.project_image_container_left img,
.project_image_container_right img {
  width: 30vw;
  height: auto;
}

hr {
  width: 45vw;
}

.project_image_container_left hr {
  float: left;
}

.project_image_container_right hr {
  float: right;
}
