.skills_container {
  width: 30vw;
  height: auto;
  display: flex;
}

.skills_main {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.skills_image {
  width: 7vw;
}

.skills_progressBar {
  width: 100vw;
}

.skills {
  width: 50vw;
  height: auto;
  background: #f8f8f8;
  border: solid #bdbdbd 0;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.skills_name h3 {
  text-align: center;
  font-family: "Agency FB";
  font-weight: 100;
}

.hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease-in;
  background-color: #f8f8f8;
}

.skills_container {
  position: relative;
  width: 100%;
}

.skills_name {
  color: #707070;
  font-size: 1.3rem;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.skills_container:hover .hidden {
  opacity: 1;
}

/* SkillsTabs CSS */

.tab_list {
  text-align: center;
  font-family: "Agency FB";
  font-size: 1.5rem;
  border: none;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 0;
  height: auto;
}

/* .tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
} */

.tab {
  display: flex;
  flex-direction: column;
  border: none;
  bottom: -1px;
  padding: 1rem;
  cursor: pointer;
  margin-top: 3rem;
}

.tab:focus {
  outline: none;
  color: #c92c6d;
}

.tab--selected {
  border: none;
}

@media screen and (max-width: 1235px) {
  .skills_main {
    padding: 4rem 3rem;
  }
}

@media screen and (max-width: 800px) {
  .tab_list {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    justify-content: center;
    height: auto;
  }

  .tab {
    margin-top: 3rem;
    padding: 0;
  }

  .tab--selected {
    border: 1px solid transparent;
  }

  .skills {
    width: 70vw;
  }

  .skills_main {
    padding: 3.5rem 0 2rem 0;
    display: flex;
    justify-content: center;
  }
}
