.about_container {
  width: 100vw;
  height: auto;
  display: flex;
}

.caroussel_box,
.about_text_box {
  width: 50vw;
  height: auto;
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
