.navbar_container {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  border-bottom: solid #bdbdbd 0;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 4;
  
}

.navbar_parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40vw;
}

.navbar {
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4d4d;
}

.logo {
  max-width: 18vw;
  height: auto;
  padding-left: 2.5rem;
  display: block;
}




