.navbar_container {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  border-bottom: solid #bdbdbd 0;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 4;
  align-items: center;
}

#list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40vw;
}

.navbar_mobile ul,
.navbar ul {
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
}

.logo {
  max-width: 18vw;
  height: auto;
  padding-left: 2rem;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.navbar_mobile_container {
  display: none;
}

.navbar_mobile ul li {
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_mobile li:hover {
  background-color: rgba(220, 120, 131, 0.09);
  margin: 0 auto;
}

/* Media queries */

@media screen and (max-width: 900px) {
  .logo {
    max-width: 25vw;
  }
}

@media screen and (max-width: 800px) {
  .navbar_mobile_container {
    display: block;
  }

  .navbar {
    display: none;
  }

  .navbar_mobile {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100vw;
  }
}

@media screen and (max-width: 692px) {
  .logo {
    max-width: 25vw;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    max-width: 30vw;
  }
}

@media screen and (max-width: 416px) {
  .logo {
    max-width: 35vw;
  }
}

@media screen and (max-width: 356px) {
  .logo {
    max-width: 40vw;
  }
}
