h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
p {
  font-family: "Roboto Slab", serif;
}

body {
  margin: 0 auto;
}

a:hover {
  color: #dc7883;
}

h1 {
  font-size: 5rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
