.progressBar_container {
    height: 0.7rem;
    width: 100;
    background-color: #e0e0de ;
    border-radius: 50px;
    margin: 2rem;
}

.filled_container {
    height: 100%;
    background-color: #707070;
    border-radius: inherit;
    text-align: right;
    
}

span {
    /* padding: 5px; */
    color: #ffffff;
    font-weight: bold;
}
